<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"></head>

<body>
    <form>
        <div>
            <label for="title">title</label>
            <input type="input" id="title" name="title">
        </div>
      <br>
      <div>
            <label for="content">content</label>
            <textarea id="content" name="content"></textarea>
      </div>

      <div>
            <label for="author">author</label>
            <input type="input" id="author" name="author">
      </div>
    </form>
    <a href="/" role="button">취소</a>
      <div>
        <input type="button" id="btn-save" value="button"></input>
      </div>





</body>

<footer th:replace="fragments.html :: footer"></footer>
</html>